@font-face {
  font-family: "Inter";
  src: URL("Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

body {
  width: 1280px;
  height: 1024px;
  margin: 0;
  /* padding: 20px; */
  overflow: hidden;
  background-color: #121212;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.5s;
}

body.blurFade {
  filter: brightness(0);
  transform: scale(1.2, 1.2);
}

main {
  position: absolute;
  top: 0;
  z-index: -1;
}

.title {
  margin: 100px 0 0 100px;

  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

.descWrapper {
  height: 100%;
}

.gameLogo {
  display: flex;
  justify-content: center;

  border-radius: 25px 25px 0 0;

  width: 100%;
  height: 284px;
  overflow: hidden;
}

.gameLogo img {
  height: 100%;
}

.gameName {
  /* padding: 12px; */
  font-size: 36px;
  color: #fff;
  font-family: "Inter";
  font-weight: 600;

  margin: 15px 0 0 18px;
}

.gameAuthor {
  margin: 5px 0 0 18px;
  font-size: 24px;
  color: #fff;
  font-family: "Inter";
}

.selected {
  /* border: 3px solid #fff; */
  /* outline-offset: 3px; */
  /* box-shadow: inset 0 0 0 3px #fff; */
  transform: translateY(-15px);
}

.selected .overlay {
  position: absolute;
  /* z-index: 5; */

  width: 330px;
  height: 396px;

  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 25px;
}

.gamesContainer {
  display: flex;
  overflow: hidden;

  margin-top: 36px;
  padding-top: 15px;
}

.game {
  background-color: #181818;
  border-radius: 25px;
  margin-right: 32px;
  width: 330px;
  height: 396px;
  flex-shrink: 0;
  float: left;

  transition: transform 0.25s;
}

.game:first-child {
  margin-left: 100px;
}

.scoresTable {
  width: 100%;
  color: white;
  margin-top: 5px;
  font-family: Bungee;
  font-size: auto;
  border-collapse: collapse;
}

.scoresTableScore {
  padding: 2px;
  border: none;
  text-align: right;
}

.scoresTablePlayerName {
  padding: 2px;
  border: none;
  text-align: center;
}

.scoresTableDate {
  padding: 2px;
  border: none;
  text-align: center;
}
