@font-face {
  font-family: 'Bungee';
  src: URL('Bungee-Regular.ttf') format('truetype');
}

body {
  width: 1280px;
  height: 1024px;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(83, 193, 83);
}

.descWrapper{
	height: 290px;
}

.gameLogo {
  width: 100%;
  height: auto;
}

.gameName {
  /* padding: 12px; */
  text-align: center;
  font-size: 150%;
  color: #ccc;
  font-family: 'Bungee';
}

.gameAuthor {
	padding: 12px;
	text-align: center;
	font-size: 100%;
	color: #ccc;
	font-family: 'Bungee';
  }

.selected{
  outline: 4px solid #fff;
  outline-offset: -10px;
}

.gamesContainer {
  display: flex;
  justify-content: flex-start;
}

.game{
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  width: 270px;
}

.logoJoppe {
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.scoresTable {
	width: 100%;
	color: white;
	margin-top: 5px;
	font-family: Bungee;
	font-size: auto;
	border-collapse: collapse;
}

.scoresTableScore {
	padding: 2px;
	border: none;
	text-align: right;
	}

.scoresTablePlayerName {
	padding: 2px;
	border: none;
	text-align: center;
}

.scoresTableDate {
	padding: 2px;
	border: none;
	text-align: center;
}